@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
.form {
  position: relative;
  z-index: 1;
  background: whitesmoke;
  border-radius: 10px;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 35px;
  text-align: center;
  font-family: "Comfortaa", cursive;
}
body {
  background: linear-gradient(90deg, #f5f5dc 0%, #f5f5dc 0%);
  /* background-color: #f5f5dc; */
}
.button {
  font-weight: bolder;
}

table {
  border-collapse: collapse;
  padding: 5%;
}
th,
td {
  text-align: left;
  padding: 8px;
}
