@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
h2,h4{
    font-family: 'Comfortaa', cursive;
    color: #142b47;
    font-weight: bold;
}
.marquee-container {
  width: 100%;
  height: 50px;
  overflow: hidden;
}
body {
  background: rgb(116, 214, 234); 
}
.marquee {
  animation: marquee 25s linear infinite;
  white-space: nowrap;
}
@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  
